html, h1, h2, h3, h4, body, ul, ol, li, p, a, main, section, footer {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	list-style-type:none;
	font-family: Georgia, serif;
}
.top ul li img {
	float: right;
	height: 270px;
	width: 270px;
}
h1 {
	padding: 12px;
	font-family: Georgia;
	font-size: 70px;
	font-weight: normal;
	border-bottom: 2px solid #000000;
	text-align: center;
	width: 650px;
	margin: 20px auto 10px auto;
}
.top ul {
	padding: 20px;
	font-size: 14px;
	font-style: normal;
	width: 650px;
	margin: 20px auto 10px auto;
	background-color: #D3D3D3;
	border-radius: 15px;

}
.objective h3 {
	padding: 0 20px 0 20px;
	font-style: italic;
	font-size: 16px;
	width: 700px;
	margin: 20px auto 10px auto;
}
section {
	width: 700px;
	margin: 25px auto 10px auto;
	background-color: #F5F5F5;
	border-radius: 15px;
}
footer {
	width: 700px;
	margin: 25px auto 10px auto;
	display: inline;
	text-align: center;
}
main section h2{
	font-size: 24px;
}
main section header {
	font-size: 20px;
	padding: 10px 10px 3px 10px;

}
.info {
	padding: 10px 10px 4px 10px;
}
.experience {
	padding: 10px 40px 4px 45px;
}
.experience li {
	list-style-type: square;
}
a {
	text-decoration: none;
	color: #4F8E83;
}